body {
  background-color:#2A3F54;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
    
h1, h2, h3, h4, h5, h6 {
	text-align: center;
    margin-right: 0px;
    margin-top: px;
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
#title1{
 left:100px; 
 font-family: sans-serif;	
}
label{
	color: white;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;

	}
.content{
	margin-left: 0px;
	
    margin-right: 0px;
    margin-top: 0px;
	margin-bottom: 0px;
    width: 100%;
    left: 0; 
	
 }
 .left-content{
 margin-top:40px;	 
 width: 17%;
 position: absolute;
 top: 0;
 left: 0;
 height: 100vh;
 
 }
.Input{
	text-align: center;
    margin-top: 10px;
    position: relative;
	border: 2px solid white;
	border-radius: .7em .7em .7em .7em;
	font-size: 12px;
	 
 }
.right-content{
    width:75%;
    position:absolute;
	text-align: center;	
    top: 0;
	
    right: 100px; 
	
}
.Graph{
	position: absolute;
	width:100%;
	top: 80px; 
	left: 10px;
	text-align: center;
	border-radius: .7em .7em .7em .7em;
	padding: .25em .5em;
	border: 3px solid white;
	
}
.Button{
	position: absolute;
	top: center;
	right: 38%;
}
.dropdowns{
  color: black;
  font-size: 14px;
  
  border: 2px solid white;
  border-radius: .7em .7em .7em .7em;
  padding: .25em .5em;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  	
}
.jerk_input{
	text-align: center;
    margin-top: 10px;
    position: relative;
	border: 2px solid white;
	border-radius: .7em .7em .7em .7em;
	font-size: 12px;
	margin-bottom:10px;
	 		
}
#title-detection{
font-size:16px;	
font-family: Open Sans;
text-transform: none;
	
	
}

#samples-dropdown{
	font-size: 14px;
}
#imos-input {
	text-align: center;
}
#button1 {
 display: inline-block;
 position: relative;
 padding: 10px 25px;
 background-color: #4CC713;
 left: 35px;
 color: white;
 font-family: sans-serif;
 text-decoration: none;
 font-size: 0.9em;
 text-align: center;
 text-indent: 15px;
 margin-top: 10px;
 border: none;
}

#button1:hover {
 background-color: #45a21a;
 color: white;
}

#button1:before, #button1:after {
 content: ' ';
 display: block;
 position: absolute;
 left: 15px;
 top: 52%;
}

#button1:before {
 width: 10px;
 height: 2px;
 border-style: solid;
 border-width: 0 2px 2px;
}

#button1:after {
 width: 0;
 height: 0;
 margin-left: 3px;
 margin-top: -7px;
 border-style: solid;
 border-width: 4px 4px 0 4px;
 border-color: transparent;
 border-top-color: inherit;
 animation: downloadArrow 1s linear infinite;
 animation-play-state: paused;
}

#button1.hover:before {
 border-color: #cdefbd;
}

#button1.hover:after {
 border-top-color: #cdefbd;
 animation-play-state: running;
}

@keyframes downloadArrow {
 0% {
  margin-top: -7px;
  opacity: 1;
 }

 0.001% {
  margin-top: -15px;
  opacity: 0.4;
 }

 50% {
  opacity: 1;
 }

 100% {
  margin-top: 0;
  opacity: 0.4;
 }
}

.radio-itens{
	padding: .25em .5em;
	border-radius: .7em .7em .7em .7em;
	border: 2px solid white;
	font-size: 12px;
	top: 120;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	align-items:center;
	
}
#chaos{
	display: block;
	align-items:center;
	text-align: center;
	margin-bottom:5px;
}
#button2{
	margin-top: 5px;
	margin-bottom: 5px;
}
#start-date-input{
	width: 40%;
	text-align:center;
}
#end-date-input{
	width: 40%;
	text-align:center;
}
#left-content-title{
	font-size: 15px;
	font-family: 'Raleway',sans-serif;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	
}

#jerk-stats-title{
	font-size: 14px;
	font-family: Open Sans;
    text-transform: none;
	margin-top: 2px;
	margin-bottom: 2px;
	
}
.jerk_stats{
	padding: .25em .5em;
	border-radius: .7em .7em .7em .7em;
	position:relative;
	border: 2px solid white;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-left: 0px;
	position: relative;
	
}
#graph2{
	margin-bottom: 10px;
	position: relative;
	margin-left:0px;
	
}



